.divider {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 53.5%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 1px;
        height: 17px;
        background-color: #79817c;
    }
}
